@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import "custom";
html {
  position: relative;
  min-height: 100%;
}

main {
  margin-bottom: 270px;
}

.hero-scene {
  position: relative;
  margin-bottom: 15px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/bar-826688_1280.jpg);
    background-size: cover;
    filter: brightness(0.3);
  }

  * {
    //Positionner les éléments devant le ::before
    position: relative;
  }

  .hero-scene-content {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

p {
  font-family: $font-family-serif;
  font-size: 18px;
}
footer.footer {
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.text-justify {
  text-align: justify;
}

.image-card{
  position: relative;
  &:hover{
    .titre-image,
    .action-image-buttons{
      opacity: 1;
    }
    img{
      filter: brightness(0.3);
    }
  }
  img{
    transition: all 0.3s;
  }

  .titre-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s;
  }

  .action-image-buttons {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: all 0.3s;
}
}

.galerie-image{
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .galerie-image {
    height: 180px;
  }
}

.menu-card{
  max-width: 800px;
  margin: 50px auto;
  padding: 40px;
  background: #fff8f0;
  border: 2px solid #d4b483;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  font-family: 'Georgia', serif;
}

.resa-card{
  max-width: 800px;
  margin: 50px auto;
  padding: 40px;
  background: #fff8f0;
  border: 2px solid #d4b483;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.menu-card h2{
  text-align: center;
  font-size: 1.8rem;
  color: #b25e2a;
  border-bottom: 1px solid #e0c097;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.menu-section{
  margin-bottom: 30px;
}

.ma-liste{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-section li {
  font-size: 1.2rem;
  margin: 8px 0;
  border-bottom: 1px dotted #ccc;
}

.form-label{
  color: $primary;
}

.allreservations{
  a{
    display: block;
    color: $black;
    padding: 10px;
  }
  
}

.maReservation{
  display: block;
  color: $black;
  padding: 10px;
}
